<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Films</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='favorite.js') }}"></script>
</head>
<body>
    <header>
        <div class="container">
            <h3 class="logo">MovieVerse</h3>

            <nav>
                <ul>
                    <li><a href="/main">Home</a></li>
                    <li><a href="/favorites">Favorites</a></li>
                    <li><a href="/search">Search Films</a></li>
                    <li><a href="/search-actor">Actors</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="search-film-container">
        {% for film in films %}
            {% if film.id in user_favorites %}
            <div class="search-film-card">
                <a href="{{ url_for('film_page', film_id=film.id) }}">
                    <img src="{{ film.poster_url }}" alt="{{ film.title }}">
                    <h3>{{ film.title }}</h3>
                </a>
                <button id="fav-btn-{{ film.id }}" class="favorite-btn" onclick="toggleFavorite({{ film.id }})">
                    {% if film.id in user_favorites %}
                    &#128153;  <!-- Filled heart if already favorited -->
                    {% else %}
                    &#10084;  <!-- Empty heart if not favorited -->
                    {% endif %}
                </button>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>

